
.container {
    background-color: rgb(198, 77, 77);
      height: 350px;
}
.Box{
    height: 100px;
    width: 100px;
    display: inline;
}
.container:nth-child(odd){
    background-color: yellow;
}

.container:nth-child(even){
    background-color: green;
    margin-top: 50px;
}